/** {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}*/

body {
    font-family: 'Open sans', sans-serif;
    background-image: url('https://www.wallpaperuse.com/wallp/69-691653_m.jpg');
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    flex-wrap: wrap;
}

header {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	display: flex;
	justify-content:space-between;
	margin-bottom: 20px;
    padding-left: 20px;
}

main {
    background-color: white;
    width: fit-content;
    padding: 20px;
	font-size: 15px;
}

input[type=submit] {
    width: 20%;
    background-color: #03657C;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #024655;
}